.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url(./StockSnap_C3E239A4B9.jpg) no-repeat center center fixed;
  background-color: #222;
  height: 60vh;
  color: white;
}

.App-header h1 {
  /*font-size: 74px;*/
  padding-bottom: 15px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #009AEE;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}


.header-container {
	padding: 50px;
	background: rgba(0, 0, 0, .5);
	color: white;
	position: absolute;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
