.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url(./StockSnap_C3E239A4B9.jpg) no-repeat center center fixed;
  background-color: #222;
  height: 500px;
  padding: 20px;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;

}

.App-header h2 {
  font-size: 74px;
  padding-bottom: 15px;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.App-header p {
  font-size: 30px;
}

.header-container {
	padding: 50px;
	background: rgba(0, 0, 0, .6);
	color: white;
	position: absolute;
  margin-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
